* {
  margin: 0;
  font-family: 'apple-system','BlinkMacSystemFont',"Segoe UI",'Roboto','Helvetica','Arial','sans-serif';
}

.app {
  background-color: #FAFAFA;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
  cursor: pointer;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

#ban {
  text-align: center;
}